<section id="about">
  <div class="banner">
    <div class="row">
      <div class="span8 centered">
        <hgroup>
          <h1>I'm Eric</h1>
          <h2>and I would love to be the 37th Signal.</h2>
        </hgroup>        
      </div>
    </div>
  </div>
  
  <div class="container">
    <header><h2>Here's why I think I fit:</h2></header>
  </div>
  
  <div class="row">
    <div class="span7 centered">
      
      <h3>I'm a builder</h3>
      
      <p>I was a designer first. Designing for print and the web at a large church north of LA. I had to learn on my feet, often with a mouse in one hand and a design book in the other.</p>

      <p>The desire to see my designs come to life drove me to learn programming. I've worked with PHP since the early 2000's. Sometime in 2006 I started reading about Ruby and Rails, and in 2007 I picked up a copy of Agile Web Development. I've been hooked ever since.</p>
      
      <p>
        <%= image_tag 'bookshelf.jpg', {class: 'ghost', id: 'bookshelf'} %>
        Most of my Rails knowledge comes from <a href="#" data-img="bookshelf">reading and experimentation</a>, but I have taken Marc-Andr&eacute; Cournoyer's <a href="http://owningrails.com/">Owning Rails Course</a>.</p>

      <p>Over the past 5 years I've used Rails to build many apps for the <a href="http://www.saugususd.org/">Saugus Union School District</a> where I'm currently employed. Each time I was the one-man team, doing design and development.</p>
      
      <h3>I'm a fan</h3>
      
      <p>Why apply to work at 37Signals? Because I'm a Rails-loving, bootstrapping, Reworking, Real-Getter! I even still use TextMate as my primary editor. Vim is for neck-beards. </p>
      <p>Seriously, though, after I discovered Rails and 37Signals I kept finding that I agreed with the philosophies behind both. I started a <a href="http://www.meetup.com/scv-web-geeks/">Meetup for Web Geeks</a> in my community and I regularly preach the Virtues of Opinionated Software.</p>
      <p>That doesn't mean I go along to get along. I have strong opinions about the tools and processes I use. (Again, I'm pretty sure I'd fit in at 37Signals.)</p>
      
      <h3>I'm ready for the prime of my career.</h3>
      
      <p>I'm currently a "government stooge" working in a <a href="http://5by5.tv/quit/14">D- environment</a> and I am looking for the place I can do my best work. Whether it's with 37Signals or I have to build it myself, I've moved toward this goal for the past 18 months.</p>
      <p>I think I could thrive in the 37Signals culture, but I'm thankful for lessons learned in past experiences.</p>
      <p>At the school district I help teachers frustrated with old and poorly made technology. I can usually assuage their anger and find a solution to their problem.</p>
      <p>I've worked for attorneys in the middle of high-stakes trials and learned to keep calm and be direct when they unload their pressure on me.</p>
      <p>Right out of college I worked for a small design firm that failed. Toward the end, the owners went into hiding. Instead of ignoring clients I answered the phone and even confronted the boss about print delays and deliverables.</p>
      <p>In college I studied to be a church minister. I didn't go that direction, but I believe I gained some people-skills that are often lacking in engineer-minded nerds.</p>
      
    </div>
  </div>

  <div class="features">
    <header><h2>Rails Projects</h2></header>
    <div class="feature">
      <a href="http://github.com/hayesr/requester">
        <div class="row">
          <div class="span4">
            <%= image_tag 'requester.png' %>
          </div>
          <div class="span8">
            <h4>
              Requester
              <small>View on Github &rarr;</small>
            </h4>
            <p>A facilities management app. It was pretty, but this project taught me what the client wants, and what the client says can be two different things.</p>
          </div>
        </div>
      </a>
    </div>
    <div class="feature">
      <a href="http://github.com/hayesr/bridgeport">
        <div class="row">
          <div class="span4">
            <%= image_tag 'westcreek.png'%>
          </div>
          <div class="span8">
            <h4>
              Bridgeport
              <small>View on Github &rarr;</small>
            </h4>
            <p>A super-simple CMS that uses the Mercury Editor and Mongo DB.</p>
          </div>
        </div>
      </a>
    </div>
    <div class="feature">
      <a href="http://github.com/hayesr/griffin">
        <div class="row">
          <div class="span4">
            <%= image_tag 'griffin.png'%>
          </div>
          <div class="span8">
            <h4>
              SUSD Family Data Manager (Griffin)
              <small>View on Github &rarr;</small>
            </h4>
            <p>An app that reduces paperwork for our parents. It stores parent input in MongoDB, then saves the information to a legacy, MSSQL database in the background.</p>
          </div>
        </div>
      </a>
    </div>
    <div class="feature">
      <a href="http://github.com/hayesr/erichayes.net">
        <div class="row">
          <div class="span4">
            <%= image_tag 'siteception.jpg'%>
          </div>
          <div class="span8">
            <h4>
              This website
              <small>View on Github &rarr;</small>
            </h4>
            <p>It's crazy to build a static site in Rails! FALSE, the Asset Pipeline rocks.</p>
            <p><strong>Bonus: </strong> <a href="https://github.com/hayesr/erichayes.net/commits/master/app/views/pages/svn.html.erb">View the history</a> to see how I've edited the copy for this page.</p>
          </div>
        </div>
      </a>
    </div>
  </div>
  
  <div class="features">
    <header><h2>Github Pull Request</h2></header>
    <div class="feature">
      <a href="https://github.com/jejacks0n/mercury/pull/335">
        <div class="row">
          <div class="span4">
            <%= image_tag 'pull.jpg' %>
          </div>
          <div class="span8">
            <p>
              This is a Javascript (Coffeescript) heavy pull request for a project called Mercury Editor.
              It was originally made against jQuery 1.7, and bugs appear when using it with the
              version that ships with Rails.
            </p>
            <p>
              The project allows a user to sort chuncks of code called snippets, for this it uses
              jQuery UI Sortable. Much of what this project does happens inside an iframe, which makes
              it tricky.
            </p>
            <p>I updated the code so it would function with jQuery 1.9 and UI 1.10</p>
          </div>
        </div>
      </a>
    </div>
  </div>
  
  <div class="features">
    <header><h2>Design Examples</h2></header>
    <div class="row">
      <div class="span4 portrait feature">
        <a href="http://dribbble.com/ehayes">
          <%= image_tag 'dribbble.png'%>
          <p><strong>My Dribbble profile</strong> has some UI design and other fun stuff.</p>
        </a>
      </div>
      <div class="span4 portrait feature">
        <a href="http://www.saugususd.org/">
          <%= image_tag 'susd.png'%>
          <p><strong>The Saugus Union School District.</strong> (This suffers from some post-launch committee design)</p>
        </a>
      </div>
      <div class="span4 portrait feature">
        <a href="http://blog.megan-hayes.com">
          <%= image_tag 'megan-blog.png'%>
          <p><strong>My wife is a wedding photographer.</strong> 
            She orders me to design for her on occasion.</p>
        </a>
      </div>
    </div>
  </div>
  
  <hr>
  <div id="final">
    <div class="row">
      <div class="span8 centered">
        <div class="row">
          <div class="span6">
            <h4>Thanks for reading!</h4>
            <p>
              I may not have the most impressive body of work, 
              but everything I've done in life is the result of 
              an endless desire to learn and improve.
              <b>I know I could be a valuable addition to the 37Signals Team.</b>
            </p>
            <p>
              <a href="mailto:eric@erichayes.net" class="button">Email Eric</a>
            </p>
          </div>
          <div class="span6">
            <%= image_tag 'eric.jpg' %>
          </div>
          
        </div>
      </div>
    </div>
  </div>
  
</section>